<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Listado de prospectos</h4>
            <div class="d-flex mt-3">
                <button type="button"  class="btn btn-info ml-auto" (click)="openModal(addModal)">+ Agregar Nuevo</button>
            </div>
            <table class="table table-striped border mt-4">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Primer apellido</th>
                      <th scope="col">Segundo apellido</th>
                      <th scope="col">Estatus</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr *ngFor="let p of prospectos">
                        <td>{{ p.id }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.primer_ap }}</td>
                        <td>{{ p.segundo_ap }}</td>
                        <td>
                            <span *ngIf="p.estatus == 1" class="badge bg-primary" style="color:white">Enviado</span>
                            <span *ngIf="p.estatus == 2" class="badge bg-success" style="color:white">Autorizado</span>
                            <span *ngIf="p.estatus == 3" class="badge bg-danger" style="color:white">Rechazado</span>
                        </td>
                        <td>
                            <i class="fa fa-address-card-o" aria-hidden="true" (click)="openModalDetail(detailModal, p, false)" title="visualizar información"> </i>
                            <i *ngIf="p.estatus == 1" class="fa fa-calendar-check-o" aria-hidden="true" (click)="openModalDetail(detailModal, p, true)" title="Autorizar prospecto" style="margin-left: 10px"> </i>
                        </td>
                    </tr>
                    <tr class="text-center" *ngIf="prospectos.length == 0">
                        <td colspan="6">No hay información para mostrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--- Start Create Model -->
<ng-template #addModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Agregar nuevo prospecto</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="nombre" class="font-weight-bold">Nombre <span style="color: firebrick;">*</span></label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre" aria-label="nombre"
                      aria-describedby="basic-addon1" formControlName="nombre" id="nombre" (blur)=logValidationErrors(form)>
                    <span class="help-block" *ngIf="formsErrors.nombre">{{formsErrors.nombre}}</span>
                  </div>
                  <div class="form-group">
                    <label for="primer_ap" class="font-weight-bold">Primer apellido <span style="color: firebrick;">*</span></label>
                    <input type="text" class="form-control" placeholder="Ingrese primer apellido" aria-label="primer_ap"
                      aria-describedby="basic-addon1" formControlName="primer_ap" id="primer_ap" (blur)=logValidationErrors(form)>
                    <span class="help-block" *ngIf="formsErrors.primer_ap">{{formsErrors.primer_ap}}</span>
                    </div>
                    <div class="form-group">
                        <label for="segundo_ap" class="font-weight-bold">Segundo apellido</label>
                        <input type="text" class="form-control" placeholder="Ingrese segundo apellido" aria-label="segundo_ap"
                        aria-describedby="basic-addon1" formControlName="segundo_ap" id="segundo_ap">
                    </div>
                    <div class="form-group">
                        <label for="rfc" class="font-weight-bold">RFC <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese RFC" aria-label="rfc"
                          aria-describedby="basic-addon1" formControlName="rfc" id="rfc" (blur)=logValidationErrors(form) maxlength="13">
                        <span class="help-block" *ngIf="formsErrors.rfc">{{formsErrors.rfc}}</span>
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="font-weight-bold">Teléfono <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese teléfono" aria-label="telefono"
                          aria-describedby="basic-addon1" formControlName="telefono" id="telefono" (blur)=logValidationErrors(form) maxlength="10">
                        <span class="help-block" *ngIf="formsErrors.telefono">{{formsErrors.telefono}}</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="calle" class="font-weight-bold">Calle <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese calle" aria-label="calle"
                          aria-describedby="basic-addon1" formControlName="calle" id="calle" (blur)=logValidationErrors(form)>
                        <span class="help-block" *ngIf="formsErrors.calle">{{formsErrors.calle}}</span>
                    </div>
                    <div class="form-group">
                        <label for="numero" class="font-weight-bold">Número <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese número" aria-label="numero"
                          aria-describedby="basic-addon1" formControlName="numero" id="numero" (blur)=logValidationErrors(form) maxlength="10">
                        <span class="help-block" *ngIf="formsErrors.numero">{{formsErrors.numero}}</span>
                    </div>
                    <div class="form-group">
                        <label for="colonia" class="font-weight-bold">Colonia <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese colonia" aria-label="colonia"
                          aria-describedby="basic-addon1" formControlName="colonia" id="colonia" (blur)=logValidationErrors(form)>
                        <span class="help-block" *ngIf="formsErrors.colonia">{{formsErrors.colonia}}</span>
                    </div>
                    <div class="form-group">
                        <label for="cp" class="font-weight-bold">Código postal <span style="color: firebrick;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ingrese código postal" aria-label="cp"
                          aria-describedby="basic-addon1" formControlName="cp" id="cp" (blur)=logValidationErrors(form) maxlength="5">
                        <span class="help-block" *ngIf="formsErrors.cp">{{formsErrors.cp}}</span>
                    </div>
                </div>
                <hr>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="documentos"><h3>Documentos <span style="color: firebrick;">* </span> <i class="fa fa-plus-circle fa-2xl" (click)="openModalDocumento(documentoModal)" aria-hidden="true" style="color: cornflowerblue; cursor: pointer;" title="Agregar documento"></i></h3></label>
                    <table *ngIf="documentos.length != 0" class="table table-striped border mt-4">
                    <thead>
                        <tr>
                            <th sortable="name">Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of documentos">
                            <td>{{ d.nombre }}</td>
                            <td>
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="removeDocumento(d)" style="cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-success" (click)="add()" [disabled]="form.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

<!--- End Create Model -->

<!--- Start Add files Model -->
<ng-template #documentoModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Agregar nuevo documento</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formDoc">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="nombre" class="font-weight-bold">Nombre <span style="color: firebrick;">*</span></label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre" aria-label="nombre"
                    aria-describedby="basic-addon1" formControlName="nombre" id="nombre" (blur)=logValidationErrors(formDoc)>
                    <span class="help-block" *ngIf="formsErrors.formDoc">{{formsErrors.formDoc}}</span>
                </div>
                <div class="form-group">
                    <label for="profilepicture">Seleccione documento </label>
                    <input (change)="onFileSelected()" #fileInput type="file" id="file"
                accept="image/x-png,image/gif,image/jpeg">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cerrar</button>

                <button type="submit" class="btn btn-success" (click)="addDocumento();modal.dismiss('Cross click')" [disabled]="formDoc.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>
<!--- Start Add files Model -->

<!--- Start detail Model -->
<ng-template #detailModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">{{title}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formDoc">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body"> 
                        <small class="text-muted">Nombre completo</small>
                        <h6>{{prospecto.nombre}} {{prospecto.primer_ap}} {{prospecto.segundo_ap}}</h6>
                        <small class="text-muted">RFC</small>
                        <h6>{{prospecto.rfc}}</h6> 
                        <small class="text-muted p-t-30 db">Teléfono</small>
                        <h6>+52 {{prospecto.telefono}}</h6>
                        <small class="text-muted p-t-30 db">Estatus</small>
                        <h6>
                            <span *ngIf="prospecto.estatus == 1" class="badge bg-primary" style="color:white">Enviado</span>
                            <span *ngIf="prospecto.estatus == 2" class="badge bg-success" style="color:white">Autorizado</span>
                            <span *ngIf="prospecto.estatus == 3" class="badge bg-danger" style="color:white">Rechazado</span>
                        </h6>
                        <ng-container *ngIf="prospecto.estatus == 3 && prospecto.rechazo != null">
                            <small class="text-muted p-t-30 db">Motivo rechazo</small>
                            <h6>{{prospecto.rechazo.motivo}}</h6>
                        </ng-container> 
                        <small class="text-muted p-t-30 db">Dirección</small>
                        <h6>{{prospecto.calle}} {{prospecto.numero}}, {{prospecto.colonia}}, {{prospecto.cp}}</h6>
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div> 
                        <small class="text-muted p-t-30 db">Documentos</small>
                        <table class="table table-striped border mt-4">
                            <tbody>
                                <tr *ngFor="let d of prospecto.documentos">
                                    <td> {{d.nombre}}</td>
                                    <td><i class="fa fa-eye" aria-hidden="true" title="Visualizar documento" (click)="openModalVisualizar(visualizeModal, d.documento)" style="cursor: pointer;"></i></td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-container *ngIf="autorizacion">
                            <button type="submit" class="btn btn-success float-left" (click)="autorizar('autorizar')">Autorizar</button>
                            <button type="button" class="btn btn-danger float-right" (click)="autorizar('rechazar')">Rechazar</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!--- Start detail Model -->

<!--- Start visualize file Model -->
<ng-template #visualizeModal let-modal>
    <div class="modal-header">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <img [src]="urlDocumento" class="card-img" alt="...">
        </div>
    </div>
</ng-template>
<!--- End visualize file Model-->